<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www.brandt-beer.com/BLTBeer/%E8%B6%85G%E4%BE%9B%E5%BA%94%E9%93%BE.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://www.brandt-beer.com/BLTBeer/app.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://www.brandt-beer.com/BLTBeer/app.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>site.muky</string>
				<key>bundle-version</key>
				<string>0.1.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>安装超G供应链</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
